.page {
  --location-info-height: 300px;
  --location-info-padding: 0.5em;
}

.page {
  height: 100vh;
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.map {
  flex: 1 1 0;
  min-height: 0;

  .marker {
    background: black;
    color: white;
  }
}

.location-info {
  flex: 0 0 var(--location-info-height);
  height: var(--location-info-height);

  @media (prefers-color-scheme: dark) {
    background: black;
    color: white;
  }

  display: flex;
  flex-direction: column;

  & > .body {
    flex: 1 1 0;
    min-height: 0;

    display: flex;
    flex-direction: row;
    gap: 0.5em;

    & > .col1 {
      flex: 1 1 0;
      min-height: 0;

      padding: var(--location-info-padding);

      display: flex;
      flex-direction: column;
      gap: 0.5em;

      & > .title {
        flex: 0 0 auto;
        min-height: 0;

        & > a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.4em;

          color: inherit;
          font-size: 1.2em;
          text-decoration: none;

          border-bottom: 1px solid gray;
          @media (prefers-color-scheme: dark) {
            border-bottom-color: lightgray;
          }

          & > img {
            width: 1em;
            height: 1em;
          }

          & > div {
            font-weight: bold;
          }
        }
      }

      & > .address {
        font-style: italic;
        white-space: pre-wrap;
      }

      & > .description {
        flex: 1 1 0;
        min-height: 0;

        overflow-y: auto;
      }
    }

    & > .col2 {
      flex: 0 0 auto;

      & > img {
        height: var(--location-info-height);
      }
    }
  }
}
